<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->
    
    <div class="container flex">
        <h1 class="title">Task Manager</h1>
        <p class="sub-title">Simplify your daily tasks with our intuitive Task Manager.</p>
        <div class="buttons">
          <a href="/login" class="button">Login</a>
          <a href="/signup" class="button">Sign Up</a>
        </div>
      </div>
    
<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->